
:root {
    /*text*/
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: #f47c57;
    /*Background gradient*/
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    /*Neutral text*/
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    /*Dividers */
    --Lightgrayishblue: hsl(240, 5%, 91%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    display: grid;
    place-content: center;
}

h4 {
    color: var(--Verydarkgrayishblue);
}

h4:hover {
    color: var(--Softred);
    cursor: pointer;
}

.imgDesktop {
    background-image: url('images/illustration-woman-online-desktop.svg'), url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: left -4rem top 3rem , left -35rem top -19rem;
}

/*(added .active class with JS) */
.active,  h4:active{
    color: black;
    font-weight: 700;
}

.content {
display: none;
overflow: hidden;
}

p {
    color: var(--Darkgrayishblue)
}